{% extends "base.html" %}
{% block content %}
<form action="/price" method="post" enctype="multipart/form-data">
  
  <main>
    <section id="Price Jam">
      <div class="select-container">

        
        <select name="chain-select" id="chain-select" class="select-dropdown">
            <option value="chain_collection">All Restaurants</option>
            <option value="arbys">Arby's</option>
            <option value="bk">Burger King</option>
            <option value="bojangles">Bojangle's</option>
            <option value="canes">Raising Cane's</option>
            <option value="cfa">Chick-fil-a</option>
            <option value="deltaco">Del Taco</option>
            <option value="dominos">Domino's</option>
            <option value="fiveguys">Five Guy's</option>
            <option value="kfc">Kentuck Fried Chicken</option>
            <option value="littleceasars">Little Ceasar's</option>
            <option value="mcdonalds">McDonald's</option>
            <option value="papajohns">Papa John's</option>
            <option value="pizzahut">Pizza Hut</option>
            <option value="popeyes">Popeye's</option>
            <option value="sonic">Sonic</option>
            <option value="steaknshake">Steak N Shake</option>
            <option value="tacobell">Taco Bell</option>
            <option value="wendys">Wendy's</option>
            <option value="zaxbys">Zaxby's</option>
        </select>

        
        <select name="food-select1" id="food-select1"> <!-- at least one selection is required or the void.html template is called -->
          <option value="none">None</option>
          <option value="nugget">Nuggets</option>
          <option value="sandwich">Sandwich</option>
          <option value="burger">Burger</option>
          <option value="fries">Fries</option>
          <option value="drink">Drink</option>
          <option value="dessert">Dessert</option>
        </select>

        
        <select name="food-select1" id="food-select2">
          <option value="none">None</option>
          <option value="nugget">Nuggets</option>
          <option value="sandwich">Sandwich</option>
          <option value="burger">Burger</option>
          <option value="fries">Fries</option>
          <option value="drink">Drink</option>
          <option value="dessert">Dessert</option>
        </select>
          
          
        <select name="food-select1" id="food-select3">
          <option value="none">None</option>
          <option value="nugget">Nuggets</option>
          <option value="sandwich">Sandwich</option>
          <option value="burger">Burger</option>
          <option value="fries">Fries</option>
          <option value="drink">Drink</option>
          <option value="dessert">Dessert</option>
        </select> 

            
        <select name="food-select1" id="food-select4">
          <option value="none">None</option>
         <option value="nugget">Nuggets</option>
          <option value="sandwich">Sandwich</option>
          <option value="burger">Burger</option>
          <option value="fries">Fries</option>
          <option value="drink">Drink</option>
          <option value="dessert">Dessert</option>
        </select>

        
        <select name="food-select1" id="food-select5">
          <option value="none">None</option>
         <option value="nugget">Nuggets</option>
          <option value="sandwich">Sandwich</option>
          <option value="burger">Burger</option>
          <option value="fries">Fries</option>
          <option value="drink">Drink</option>
          <option value="dessert">Dessert</option>
        </select>

    <br><input type="submit" value="SUBMIT"/><br>
        
    </section>
  </main>

<div class="center">
  <p>
<h4>We make it easy to save money on your favorite fast food combos!</h4>  
</p>

<p>
To get started, select your favorite fast food restaurant from the drop down menu (or select 'All Restaurants ' to compare prices).
</p>

<p> 
Then you can select your favorite combo of food!
</p>

<p>Click 'SUBMIT' to see some <b><em>fantastic steals of a deal.</em></b></p>

  
</div>

</form>
{% endblock content %}