<html>
<head>
  <title>FoodHack</title>
  <style>

    body {
      background-color: #F5DEB3;
    }
    header {
      background-color: #8B4513;
      color: white;
      padding: 10px;
      text-align: center;
    }
    nav {
      background-color: #8B4513;
      color: white;
      padding: 10px;
    }
    nav a {
      color: white;
      text-decoration: none;
      padding: 10px;
    }
    select {
      background-color: #F5DEB3;
      color: #8B4513;
      border: 1px solid #8B4513;
      padding: 10px;
    }
  </style>



</head>
<body>
  <header>
    <img src="logo-darkmode.jpg" width="75" height="75">
  </header>
  <main>
    <section id="Price Jam">
      <h2>Price Jam</h2>
      <select id="restaurant-select">
        <option value="chain_collection">All Restaurants</option>
        <option value="arbys">Arby's</option>
        <option value="bk">Burger King</option>
        <option value="bojangles">Bojangle's</option>
        <option value="canes">Raising Cane's</option>
        <option value="cfa">Chick-fil-a</option>
        <option value="deltaco">Del Taco</option>
        <option value="dominos">Domino's</option>
        <option value="fiveguys">Five Guy's</option>
        <option value="kfc">Kentuck Fried Chicken</option>
        <option value="littleceasars">Little Ceasar's</option>
        <option value="mcdonalds">McDonald's</option>
        <option value="papajohns">Papa John's</option>
        <option value="pizzahut">Pizza Hut</option>
        <option value="popeyes">Popeye's</option>
        <option value="sonic">Sonic</option>
        <option value="steaknshake">Steak N Shake</option>
        <option value="tacobell">Taco Bell</option>
        <option value="wendys">Wendy's</option>
        <option value="zaxbys">Zaxby's</option>
      </select>
      <select id="recipe-select">
      	<option value="none">None</option>
        <option value="sandwich">Sandwich</option>
        <option value="burger">Burger</option>
        <option value="fries">Fries</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
      </select>
       <select id="recipe-select">\
       	<option value="none">None</option>
        <option value="sandwich">Sandwich</option>
        <option value="burger">Burger</option>
        <option value="fries">Fries</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
      </select>
       <select id="recipe-select">
       	<option value="none">None</option>
        <option value="sandwich">Sandwich</option>
        <option value="burger">Burger</option>
        <option value="fries">Fries</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
      </select>
       <select id="recipe-select">
       	<option value="none">None</option>
        <option value="sandwich">Sandwich</option>
        <option value="burger">Burger</option>
        <option value="fries">Fries</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
      </select>
       <select id="recipe-select">
       	<option value="none">None</option>
        <option value="sandwich">Sandwich</option>
        <option value="burger">Burger</option>
        <option value="fries">Fries</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
      </select>
    </section>
  </main>
</body>
</html>
